/* =============================================
 * Base
 * ============================================= */
html {
    font-family: $base-font-family;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

a {
    color: $base-link-color;
    text-decoration: underline;
    -webkit-transition: opacity .35s;
    -o-transition: opacity .35s;
    transition: opacity .35s;
    touch-action: manipulation;

    img {
        border: none;
    }
}

/* =============================================
 * Elements
 * ============================================= */
h1:not([class*=heading__]) {
}
h2:not([class*=heading__]) {
}
h3:not([class*=heading__]) {
}
h4:not([class*=heading__]) {
}
h5:not([class*=heading__]) {
}
h6:not([class*=heading__]) {
}
ul:not([class*=list__]) {
}
ol:not([class*=list__]) {
}
table:not([class*=table__]) {
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid #111;
    }
    th, td {
        padding: 20px;
    }
    th {
        background-color: #fafafa;
    }
}


/* =============================================
 * Common
 * ============================================= */
.inner {
    @include inner(1000px,20px);
}
