
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  background-color: #fff;
}
.main-inner {
  //margin-top: 30px;
}
.main-tab-pane {
  padding: 1em;
}

.head {
  padding-top: 2em;
}


@import 'components/editmode';
@import 'components/input';
@import 'components/checkbox';
@import 'components/alert';
@import 'components/nav';
@import 'components/table';
@import 'components/tree';
@import 'components/sticky-footer';
@import 'components/visualfeedback';
