
.sticky-footer {
  position: relative;
  width: 100%;
  margin-top: 40px;
  height: 60px;

  &__inner {
    background-color: #666;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    padding: 10px;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  }

  &.is-attached:not(.is-fixed) {
    .sticky-footer__inner {
      position: absolute;
    }
  }
}
