// =============================================
// table
// =============================================
.table--pages {

  &-wrapper {
    width: 100%;
    overflow: auto;
  }

  thead {
    font-size: 12px;
    background-color: #f5f8fb;
  }

  tbody {
    font-size: 11px;

    td {
      padding: 0;
      position: relative;
      border-top: none;

      &.cell-path {
        position: relative;
        &:before {
          content: "/";
          position: absolute;
          top: 8px;
          left: 8px;
        }
      }

      .alert {
        padding: 5px;
        margin-bottom: 5px;
        list-style-position: inside;
      }
    }
  }


  input[type="text"] {
    font-size: inherit;
    min-width: 180px;
    border-radius: 0;

    &.custom-form-inline {
      padding-left: 25px;
    }
  }

  .use-common-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.table--headers {
  max-width: 1000px;
  th {
    text-align: right;
  }
}

.table--fluid {
  width: 100%;

  input[type="text"] {
    width: 100%;
  }
}
