// =============================================
// table
// =============================================
.table--pages {

  thead {
    font-size: 12px;
  }
  tbody {
    font-size: 11px;

    td {
      padding: 5px 0;
    }
  }

  input[type="text"] {
    font-size: inherit;
    min-width: 180px;
  }
}

.table--fluid {
  width: 100%;

  input[type="text"] {
    width: 100%;
  }
}
