// =============================================
// table
// =============================================

$tree-indent: 40px;
$node-padding-vertical: 5px;
$node-width: 200px;
$node-height: 35px;

// -------------------------------
// common - node
// -------------------------------

.node {
  position: relative;
  padding: $node-padding-vertical 0;

  // アイテム -------------------------------
  &-item {
    border: 1px solid #999;
    padding: 0;
    width: $node-width;
  }

  // 線 -------------------------------
  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #333;
  }

  &-textbox {
    border: none;
    width: 100%;
    padding: 5px 10px;
    &:focus {
      background-color: #fffacc;
    }
  }
}

// -------------------------------
// tree-horizontal
// -------------------------------
.tree {
  list-style: none;
  padding: 0;
  margin: 0;

  .node {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    // 線 -------------------------------
    &::before {
      width: $tree-indent / 2;
      height: 2px;
      top: $node-height/2 + $node-padding-vertical;
      left: -$tree-indent / 2;
      margin-top: -1px;
    }

    &::after {
      width: 2px;
      height: 100%;
      bottom: 0;
      left: -$tree-indent / 2;
    }

    // last-child
    &:last-child {
      &::after {
        height: $node-height/2 + $node-padding-vertical;
        top: 0;
      }
    }

    // last & first-child
    &:first-child:last-child {
      &::before {
        width: $tree-indent;
        left: -$tree-indent;
      }
      &::after {
        display: none;
      }
    }
  }

  //ルート直下
  &.root > .node {
    &::before,
    &::after {
      display: none;
    }
  }

  .child {
    padding-left: $tree-indent;
  }
}

// -------------------------------
// tree-horizontal
// -------------------------------
.tree-horizontal {

  .node {
    // first-child
    &:first-child {
      &::before {
        width: $tree-indent;
        left: -$tree-indent;
      }
      &::after {
        height: 50%;
      }
    }
  }
}

// -------------------------------
// tree-vertical
// -------------------------------
.tree-vertical {
  .node {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

