@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin pc {
    @media screen and (min-width: $breakpoint-pc) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: $breakpoint-pc - 1) {
        @content;
    }
}

@mixin ie11 {
    @media all and (-ms-high-contrast: none) {
        *::-ms-backdrop, & {
            @content;
        }
    }
}

@mixin inner($width,$padding) {
    width: 100%;
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding;
    padding-right: $padding;
    @include pc {
        width: $width;
    }
}
